@font-face {
  font-family: 'Publico';
  src: url('publico-roman-webfont.woff2') format('woff2'),
       url('publico-roman-webfont.woff') format('woff'),
       url('publico-roman-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Publico';
  src: url('publico-black-webfont.woff2') format('woff2'),
       url('publico-black-webfont.woff') format('woff'),
       url('publico-black-webfont.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ARS Maquette Pro';
  src: url('arsmaquettepro-regular-webfont.woff2') format('woff2'),
       url('arsmaquettepro-regular-webfont.woff') format('woff'),
       url('arsmaquettepro-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ARS Maquette Pro';
  src: url('arsmaquettepro-light-webfont.woff2') format('woff2'),
       url('arsmaquettepro-light-webfont.woff') format('woff'),
       url('arsmaquettepro-light-webfont.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ARS Maquette Pro';
  src: url('arsmaquettepro-bold-webfont.woff2') format('woff2'),
       url('arsmaquettepro-bold-webfont.woff') format('woff'),
       url('arsmaquettepro-bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
